/* ======================== */
/* BASIC SETUP */
/* ======================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    /* line-height: 1.3rem; */
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
ul li{
    list-style: none;
}
/* header */
h1{
    font-size: 3.6rem;
    color: #fff;
}

/* ======================== */
/* REUSABLE COMPONANT */
/* ======================== */
.row{
    max-width: 114rem;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
/* .clearFix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
} */
/* BUTTON */
.btn-hero:link,
.btn-hero:visited,
.btn{
    background: #333;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    margin-top: 4.5rem;
    font-size: 16px;
    display: inline-block;
}
h2{
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2rem;
    letter-spacing: .2rem;
    color: #fff;
}
h2::after{
    content: "";
    display: block;
    height: .4rem;
    background: #fff;
    width: 8.5rem;
    margin: auto;
    margin-top: 1.5rem;
}
h3{
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
}
h4{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-top: 2.5rem;
    font-weight: 400;
}
.box{
    padding: 1%;
}
.box p{
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: 300;
}
.little-description{
    font-size: 1.8rem;
    line-height: 3rem;
    width: 60%;
    margin-left: 20%;
}

/* ======================== */
/* HEADER SECTION */
/* ======================== */
header{
    background: linear-gradient(rgba(135, 80, 156,.9),rgba(135, 80, 156,.9)),url('img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}
.logo{
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}
/* Main navigation */
.main-nav{
    float: right;
    margin-top: 4rem;
}
.main-nav li{
    display: inline-block;
    margin-left: 1rem;
}
.main-nav li:first-child{
    margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121,0);
    padding: .6rem 1.6rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background: rgba(100, 58, 121,1);
}
.active{
    background: rgba(100, 58, 121,1);
    border-radius: .3rem;
}
.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn-hero:link,
.btn-hero:visited{
    background: #eb7b4b;
    border-color: #c86a40;
}

/* ======================== */
/* SERVICES SECTION */
/* ======================== */
.service-serction{
   background: linear-gradient(rgba(23, 194, 164,.9),rgba(23, 194, 164,.9)),url('img/services-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
    text-align: center;
    /* background: #17c2a4; */
    color: #fff;
}
.service-serction h2::after{
    background: #14858c;
}
.service-icon{
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}

/* ======================== */
/* TEAM SECTION */
/* ======================== */
.team-section{
    background: linear-gradient(rgba(231, 231, 231,.9),rgba(231, 231, 231,.9)),url('img/team-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}
.team-section h2{
    color: #3c4761;
}
.team-section h2::after{
    background: #c8d9e5;
}
.team-meamber{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.team-section h3{
    color: #27283d;
}
.role{
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 1rem;
}
.team-section .box p{
    color: #3c4761;
}
.social-link{
   margin-top: 3.5rem;
}
.social-link ul li{
    display: inline-block;
    margin: 0 .5rem;
}
.social-link .socialIcon{
    color: #fff;
}
.social-link .socialIcon i::before{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #bdd1df;
    display: inline-block;
    padding: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    transition: .5s;
}
.social-link .socialIcon:hover i::before{
    background: #393939;
    transform: rotate(360deg);
}

/* ======================== */
/* SKILLS SECTION */
/* ======================== */
.skill-section{
    background: linear-gradient(rgba(255, 255, 255,.9),rgba(255, 255, 255,.9)),url('img/skill-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #3c4761;
    text-align: center;
}
.skill-section h2, 
.skill-section h3{
    color: #3c4761;
}
.skill-section h2::after{
    content: "";
    display: block;
    height: .4rem;
    background: #dfe8ed;
    width: 85px;
    margin: auto;
    margin-top: 1.5rem;
}
.skill-section .box{
    margin-top: 4.5rem;
}
svg.radial-progress circle{
    stroke-width: 6;
}
svg.radial-progress text{
    fill: #393939;
    font-weight: 700;
}
svg.web-design circle{
    stroke: #30bae7;
}
svg.html-css circle{
    stroke: #d74680;
}
svg.graphic-design circle{
    stroke: #1567a8;
}
svg.ui-ux circle{
    stroke: #eb7b4d;
}

/* ======================== */
/* PORTFOLIO SECTION */
/* ======================== */
.portfolio-section{
    background: linear-gradient(rgba(255,221,153,.9),rgba(255,221,153,.9)),url("img/portfolio-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    background-attachment: fixed;
    
}
.portfolio-section h2::after{
    background: #e5c37f;
}
.portfolio-section h2{
    color: #3c4761;
}
.portfolio-filter{
    margin: 3.5rem 0;
}
.portfolio-filter button{
    background: #ebc985;
    text-transform: uppercase;
    font-size: 1.8rem;
    border: none;
    margin: 0 .5rem;
    color: #3c4761;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    transition: .5s;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow: inset 0 .3rem .5rem rgba(60, 71, 97,.5);
}
.portfolio-filter button:focus{
   outline: none;
}
.portfolio-img{
    height: 30rem;
    width: 100%;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}
.btn-load-more{
    background: #17c2a4;
    border-color: #14a58c;
}
.portfolio-section .mixitup-control-active{
    background: #fff;
}